extends layout-ionic

block content
    h3(class="text-center") Forgot your Password? Enter your username:       
    #message
    if message
        h3(class="text-center assertive") #{message} 
    form(method='POST', action="/forgot", class="list")
        label(class='item item-input')
            span(class='input-label') Username
            input#inputUserName(type="text", name="username", required, autofocus=true)
        button#btnSubmit(type="submit", class='button button-block button-calm') Send Temporary Password