extends layout

block content
  h1= title
  p Track your self-development time.

    // Wrapper
    #wrapper
        //LOGIN VIEW WRAPPER
        #loginView
            input#inputUserName(type="text", placeholder="Username" style="display:block")
            input#inputPassword(type="password", placeholder="Password" style="display:block")
            button#btnLogin Log In
            span or
            button#btnSignup Sign Up

        //SKILL LIST VIEW WRAPPER
        #skillListView(style="display:none")

            // SKILL LIST
            h2 Skill List
            #skillList
                table
                    thead
                        th(class="deletable", style="display:none") Del
                        th Skill Name
                        th Hours Invested
                    tbody
                    tfoot
                        tr#addSkill(class="noeditmode")
                            td 
                                input#inputSkillName(type="text", placeholder="New Skill name")
                            td 
                                button#btnAddSkill Add Skill
            // /SKILL LIST

            // OPEN NEW SESSION FORM
            button#btnNewSession Add a New Session
            // /OPEN NEW SESSION FORM
            // SWITCH TO EDIT MODE
            button#btnToggleEditMode Toggle Edit Mode

        // /SKILL LIST VIEW WRAPPER

        //ADD SESSION VIEW WRAPPER
        #addSessionView(style="display:none")

            //ADD NEW SESSION
            h2#headerSessionView Enter a New Productivity Session
            #addSession
                fieldset
                    div(style="display:none")
                        input(id="sessionIdField", value="0")
                    div
                        label(for="primarySkill") What was the primary skill focused on?
                        select#selectPrimaryAssociatedSkill(name="primarySkill")
                    div
                        label(for="duration") How long was the session (round to nearest quarter hour)?
                        input#inputSessionDuration(name="duration", type="number", min="0", max="24", value="0", step=".25")
                    div
                        label(for="sessionDate") Date of the Session:
                        input#inputSessionDate(name="sessionDate", type="date")
                    div.buttonRow
                        button#btnCancelAddSession Cancel
                        button#btnSubmitAddSession Submit

            // /ADD NEW SESSION

        // /ADD SESSION VIEW WRAPPER

    // /WRAPPER
