doctype html
html
    head
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/lib/ionic/css/ionic.css')
    body(class='ionic', style='height:100vh')
        div(class='bar bar-header bar-dark' style="background-color:#494D52;")
            h1(class='title') Productivity Tracker
        div(class='content has-header padding')
            block content
        //script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
        //script(src='/lib/jquery-2.1.1.js')
        //script(src='/javascripts/global.js')
