extends layout-ionic

block content
    #message
    if message
        h3(class="text-center assertive") #{message}        
    form(class='list', action='/login', method='POST')
        label(class='item item-input')
            span(class='input-label') Username
            input(type='text', name='username', class='form-control', required, autofocus=true)
        label(class='item item-input')
            span(class='input-label') Password
            input(type='password', name='password', class='form-control', required)
        button(class='button button-block button-calm', type='submit') Sign in
    a(href='/signup' class='button button-block' style="background-color:#D0DCEB") Create an account
    a(href='/forgot') Forgot Password?