extends layout

block content
    h2 Enter a Username and Password:
    form#formAddUser(class='form-signin', action='/signup', method='POST')
        input#inputUserName(type="text", placeholder="Username", name="username")
        input#inputUserPassword(type="password", placeholder="Password", name="password")
        input#inputUserEmail(type="email", placeholder="Email", name="email")
        button#btnSubmit(type="submit") submit
    #message
        if message
            h1(style="color:red") #{message}