script(type="text/javascript", src="/lib/jquery-2.1.1.js")
script(type="text/javascript", src="/lib/ionic/js/ionic.bundle.js")
script(type="text/javascript", src="/lib/ionic/js/angular/angular-resource.js")
script(type="text/javascript", src="/lib/angular-ui-router.min.js")
script(type="text/javascript", src="/javascripts/app.js")
script(type="text/javascript", src="/javascripts/routes.js")
script(type="text/javascript", src="/javascripts/controllers/mxSkillsCtrl.js")
script(type="text/javascript", src="/javascripts/controllers/mxAddEditSkillCtrl.js")
script(type="text/javascript", src="/javascripts/services/mxSkill.js")
