script(type="text/javascript", src="/lib/jquery-2.1.1.js")
script(type="text/javascript", src="/lib/ionic/js/ionic.bundle.js")
script(type="text/javascript", src="/lib/ionic/js/angular/angular-resource.js")
script(type="text/javascript", src="/lib/angular-ui-router.min.js")
script(type="text/javascript", src="/javascripts/app.js")
script(type="text/javascript", src="/javascripts/routes.js")
script(type="text/javascript", src="/javascripts/controllers/xpSkillsCtrl.js")
script(type="text/javascript", src="/javascripts/controllers/xpAddEditSkillCtrl.js")
script(type="text/javascript", src="/javascripts/controllers/xpAddEditSessionCtrl.js")
script(type="text/javascript", src="/javascripts/controllers/xpHeaderButtonCtrl.js")
script(type="text/javascript", src="/javascripts/controllers/xpEditUserCtrl.js")
script(type="text/javascript", src="/javascripts/services/xpSkill.js")
script(type="text/javascript", src="/javascripts/services/xpSession.js")
script(type="text/javascript", src="/javascripts/services/xpIdentity.js")
script(type="text/javascript", src="/javascripts/controllers/xpHelpCtrl.js")
