<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">{{isNewSession?'New':'Edit'}} Session</h1>
        <button class="button button-clear" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">Skill Trained:</div>
                <div>
                    <select ng-model="curSession.skillId" ng-options="skill._id as skill.name for skill in skills" style="position:inherit"></select>
                </div>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Session Date:</span>
                <input ng-model="curSession.date" type="date">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Session Duration (hours):</span>
                <input ng-model="curSession.duration" type="number" min="0" max="24" value="0" step=".25">
            </label>
            <button class="button button-full button-calm" ng-click="submit(curSession)">Submit</button>
        </div>
    </ion-content>
</ion-modal-view>
