<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <h1 class="title">Exper Help</h1>
        <button class="button button-clear" ng-click="closeModal()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">
                Skills
            </div>
            <div class="item item-text-wrap">
                Skills represent the various disciplines that you wish to track self-development time for.
                <br/><br/>
                All existing Skills are listed on the main screen.
                <br/><br/>
                Add new Skills via the "Add New Skill" button at the bottom of the main screen.
                <br/><br/>
                Edit an existing Skill by swiping it to the left and clicking the "Edit" button.
                <br/><br/>
                Delete Skills by clicking the minus button in the upper left corner of the main screen to reveal a red delete button next to each Skill. When a Skill is deleted, all Session history is deleted with it.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                Sessions
            </div>
            <div class="item item-text-wrap">
                Sessions represent the total time spent training a specific skill over the course of a day.
                <br/><br/>
                Add a new Session for a Skill by swiping the desired Skill to the left, and then clicking the "Exper" button.
                <br/><br/>
                View a breakdown of all past Sessions for a Skill by click on the Skill in the list.
                <br/><br/>
                Existing Sessions may be edited by swiping left on the Session and clicking the "Edit" button.
                <br/><br/>
                Delete Sessions by clicking the minus button in the upper left corner of the main screen to reveal a red delete button next to each Session.
            </div>
        </div>
        <div class="card">
            <div class="item item-divider">
                How do I change my password?
            </div>
            <div class="item item-text-wrap">
                To change your password, log out of Exper via the options button in the upper left corner. Once you are at the login screen, click the "Forgot Password?" link, and follow the instructions from there.
            </div>
        </div>
    </ion-content>
</ion-modal-view>