<div ng-controller="mxSkillsCtrl">
	<ion-header-bar class="bar-subheader">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
      </div>
      <h1 class="title" style="left:0!important; right:0!important">Your Skills</h1>
<!--      <div class="buttons">
        <button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
            Reorder
        </button>
      </div>
-->
    </ion-header-bar>
    <ion-content class="has-subheader">
		<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
			<div ng-repeat="skill in skills">
				<ion-item item="skill" class="item-remove-animate" ng-click="toggleSessionList(skill)" ng-class="{active:isSessionListShown(skill)}">
					{{skill.name}}
					<ion-delete-button class="ion-minus-circled" ng-click="deleteSkill(skill); $event.stopPropagation();">
					</ion-delete-button>
					<ion-option-button class="button-assertive" ng-click="editSkill(skill); $event.stopPropagation();">
		            	Edit
		          	</ion-option-button>
		          	<ion-option-button class="button-calm" ng-click="gotoAddSession(skill); $event.stopPropagation();">
		            	Exper
		         	</ion-option-button>
		          	<ion-reorder-button class="ion-navicon" on-reorder="moveSkill(skill, $fromIndex, $toIndex); $event.stopPropagation();">
		          	</ion-reorder-button>
					<button class="badge badge-calm" ng-hide="data.showReorder" style="border-width:1px">{{skill.totalDuration}} hrs</button>
				</ion-item>
				<ion-item class="item-accordian padding-horizontal" ng-repeat="session in skill.sessions" ng-show="isSessionListShown(skill)">
					{{stringifyDate(session.date)}}
					<button class="badge badge-light" style="background-color:#D0DCEB; border-width:1px">{{session.duration}} hrs</button>
					<ion-delete-button class="ion-minus-circled" ng-click="deleteSession(session)">
					</ion-delete-button>
				</ion-item>
			</div>
		</ion-list>
		<button class='button button-block' style="background-color:#D0DCEB" ng-click="gotoAddSkill()">Add New Skill</button>
	</ion-content>
</div>